<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Controls</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="container">
        <!-- Navigation Pane -->
        <nav class="menu">
            <a href="/" class="button">Home</a>
            <a href="/users" class="button">Users</a>
            <a href="/devices" class="button">Devices</a>
            <a href="/controls" class="button">Controls</a>
            <a href="/devicetypes" class="button">Device Types</a>
            <a href="/operations" class="button">Operations History</a>
        </nav>

        <!-- Space between navigation and table -->
        <div class="section" style="margin-top: 50px;">
            <h1 class="page-title">Controls</h1>
            <div class="table-container">
                <table>
                    <thead>
                        <tr>
                            <th>Control ID</th>
                            <th>Control Name</th>
                            <th>Start Time</th>
                            <th>End Time</th>
                            <th>Repeat</th>
                            <th>User</th>
                            <th>Device Type</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each controls}}
                        <tr>
                            <td data-label="Control ID">{{this.controlID}}</td>
                            <td data-label="Control Name">{{this.controlName}}</td>
                            <td data-label="Start Time">{{this.startTime}}</td>
                            <td data-label="End Time">{{this.endTime}}</td>
                            <td data-label="Repeat">{{this.rep}}</td>
                            <td data-label="User">{{this.username}}</td>
                            <td data-label="Device Type">{{this.typeName}}</td>
                            <td data-label="Actions">
                                <a href='update_control.html?controlID={{this.controlID}}' class="button">Update</a> |
                                <a href='delete_control.html?controlID={{this.controlID}}' class="button">Delete</a> |
                                <a href='read_control?controlID={{this.controlID}}' class="button">Details</a>
                            </td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
            <a href="/create_control" class="button">Create New Control</a>
        </div>
    </div>
</body>
</html>