<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Devices</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="container">
        <h1>Devices</h1>
        <div class="section">
            <table>
                <thead>
                    <tr>
                        <th>Device ID</th>
                        <th>Device Name</th>
                        <th>Status</th>
                        <th>Device Type</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each data}}
                    <tr>
                        <td>{{this.deviceID}}</td>
                        <td>{{this.deviceName}}</td>
                        <td>{{this.status}}</td>
                        <td>{{this.typeName}}</td>
                        <td>
                            <a href='update_device?deviceID={{this.deviceID}}'>Update</a> |
                            <a href='delete_device.html?deviceID={{this.deviceID}}'>Delete</a> |
                            <a href='read_device?deviceID={{this.deviceID}}'>Details</a>
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        <a href="/create_device" class="button">Create New Device</a>
        </div>
        <a href="/" class="button">Go Back To Homepage</a>
    </div>
</body>
</html>